.App {
  text-align: center;
  background-color: transparents;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landingWrap {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.contentWrap {
  max-width: 1024px;
  width: 100%;
  padding: 0 140px;
  margin: 0 auto;
}

input:focus {
  outline: none;
}

.reservationTitleWrap {
  border-bottom: 1px solid black;
}
.headTitle {
  padding: 20px 0;
  text-align: left;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 15px;
}

.btnWrap {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.normalBtn {
  width: calc(100% - 280px);
  height: 50px;
  border: none;
  background-color: #ebebeb;
  border-radius: 3px;
  font-weight: bold;
}

.activeBtn {
  width: calc(100% - 280px);
  height: 50px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 3px;
  font-weight: bold;
}

.leftPadding {
  padding-bottom: 20px;
}

.buttonWrap {
  display: flex;
  padding-top: 20px;
}

.buttonWrap > button {
  width: 50%;
  height: 50px;
  border-radius: 5px;
}

.btnRight {
  margin-left: 10px;
  background-color: black;
  color: white;
  border: none;
}

.btnLeft {
  border: 1px solid black;
  background-color: white;
}

.listTitle {
  text-align: left;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.hiddenText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.testt {
  background-color: red;
  max-width: 375px;
  height: 50px;
}

@media (max-width: 500px) {
  .contentWrap {
    padding: 0 20px;
  }
  .normalBtn,
  .activeBtn {
    width: calc(100% - 40px);
  }
}
